* {
    margin: 0;
    padding: 0;

}

#container {
    background-color: #fcf6ef;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.caixa {
    flex-grow: 1;
    width: 140px;
    height: 140px;
    background-color: rgb(46, 43, 226);
    border: solid 6px black;
    
    
}

@media (min-width: 768px){
    .caixa {
        width: 80px;
        height: 80px;
    }
}